
/* Section header images */


div#sectionHeaderTitle_shipping {
    background-image: url('/opentaps_images/openclipart.org/cardboard_box_jarno_vasa_24x24.png');
    padding-left: 40px;
}
div#sectionHeaderTitle_myHome {
    background-image: url('/opentaps_images/openclipart.org/factory_gabrielle_nowick_24x24.png');
    padding-left: 40px;
}
div#sectionHeaderTitle_manufacturing {
    background-image: url('/opentaps_images/openclipart.org/blacksmith_anvil_ganson_24x24.png');
    padding-left: 40px;
}
div#sectionHeaderTitle_inventory {
    background-image: url('/opentaps_images/openclipart.org/Montacarichi_24x24.png');
    padding-left: 40px;
}
