/** Add css rules here for your application. */
button {
  display: block;
  font-size: 16pt
}

.widePanel {
  width: 100%
}

img {
  margin-top: 20px;
}

.panelHead {
  font-size: 16pt;
  font-weight: bold;
  background: #bbbbbb;
  width: 100%;
}

.conditionLabel {
  font-size: 10pt;
  font-weight: bold;
  padding-right: 2pt;
}