/* calendar table styles */
.calendarTable    {
        border-collapse: collapse;
        width: 100%;
        border: 1px solid #AAAAAA;
        font: 10px Verdana, Arial, Helvetica, sans-serif;
	vertical-align: top;
}

/* this is an example of how to set a global style for a form widget TD */
.calendarTable TD {
    padding: 3px;
    vertical-align: top;
}

.calendarHeader {
	background: #1E3C66;	
    	outline-color: #1E3C66;
    	border: 0;	
}

.calendarDayNumber {
	color: #000000;
	background: #FFFFFF;	
    }

.calendarWeek {
	padding: 4px;
	background: #AFC8D4;
	}
	
.calendarContent    {
	color: #5886C6;
	font-weight: normal;
	text-decoration: none;
	}
