<?xml version="1.0"?>
<!DOCTYPE web-app PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN" "http://java.sun.com/dtd/web-app_2_3.dtd">

<!--
 * Copyright (c) Open Source Strategies, Inc.
 *
 * Opentaps is free software: you can redistribute it and/or modify it
 * under the terms of the GNU Affero General Public License as published
 * by the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 *
 * Opentaps is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU Affero General Public License for more details.
 *
 * You should have received a copy of the GNU Affero General Public License
 * along with Opentaps.  If not, see <http://www.gnu.org/licenses/>.
-->

<web-app>

  <display-name>Opentaps - CRMSFA Images</display-name>
    <description>CRMSFA Static Images of the Opentaps Project</description>

    <filter>
        <filter-name>GzipFilter</filter-name>
        <display-name>GzipFilter</display-name>
        <filter-class>org.opentaps.common.event.GzipFilter</filter-class>
    </filter>
    <filter>
        <filter-name>PrivateCacheEnabler</filter-name>
        <display-name>CacheEnabler</display-name>
        <filter-class>org.opentaps.common.event.CacheEnabler</filter-class>
        <init-param>
          <param-name>Cache-Control</param-name>
          <param-value>private, max-age=15552000</param-value>
        </init-param>
    </filter>
    <filter>
        <filter-name>PublicCacheEnabler</filter-name>
        <display-name>CacheEnabler</display-name>
        <filter-class>org.opentaps.common.event.CacheEnabler</filter-class>
        <init-param>
          <param-name>Cache-Control</param-name>
          <param-value>public, max-age=15552000</param-value>
        </init-param>
    </filter>

    <filter-mapping>
        <filter-name>GzipFilter</filter-name>
        <url-pattern>*.js</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>GzipFilter</filter-name>
        <url-pattern>*.css</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>PrivateCacheEnabler</filter-name>
        <url-pattern>*.js</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>PrivateCacheEnabler</filter-name>
        <url-pattern>*.css</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>PublicCacheEnabler</filter-name>
        <url-pattern>*.gif</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>PublicCacheEnabler</filter-name>
        <url-pattern>*.jpg</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>PublicCacheEnabler</filter-name>
        <url-pattern>*.png</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>PublicCacheEnabler</filter-name>
        <url-pattern>*.html</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>PublicCacheEnabler</filter-name>
        <url-pattern>*.htm</url-pattern>
    </filter-mapping>

    <session-config>
        <session-timeout>60</session-timeout> <!-- in minutes -->
    </session-config>

</web-app>
